# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
build/
dist/

# Temporary files
*.log
*.lock
*.tmp

# Editor-specific files
.vscode/
.idea/
.DS_Store

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# TypeScript specific
*.tsbuildinfo
